{% extends "base.html" %}
{% load static %}
{% block title %}
    Kontakt | WPA
    CZ-SK
{% endblock %}
{% block content %}
    <section class="py-16 bg-white">
        <div class="max-w-7xl mx-auto px-4">
            <div class="mb-12 text-center">
                <h2 class="text-3xl font-bold text-green-700">Kontaktní údaje</h2>
                <p class="text-gray-700 mt-2 leading-relaxed">
                    World Pheasant Association Czech Republic and Slovakia z. s.
                    <br />
                    Registrace: Ministerstvo spravedlnosti České republiky
                    <br />
                    IČ: 22750223
                    <br />
                    <strong>Čeladná 752, 739 12 Čeladná, Česká Republika</strong>
                </p>
            </div>
            <div class="grid md:grid-cols-2 gap-10">
                <div class="grid gap-6">
                    <div class="bg-green-100 rounded-lg shadow-lg p-6">
                        <h3 class="text-xl font-semibold text-gray-800">Předseda</h3>
                        <p class="text-gray-700">Jakub Janosch</p>
                        <p>
                            Email:
                            <a href="mailto:predseda@wpacz-sk.com"
                               class="text-green-700 hover:underline">predseda@wpacz-sk.com</a>
                        </p>
                        <p>
                            Telefon:
                            <a href="tel:+420602419057" class="text-green-700 hover:underline">+420 602 419 057</a>
                        </p>
                    </div>
                    <div class="bg-green-100 rounded-lg shadow-lg p-6">
                        <h3 class="text-xl font-semibold text-gray-800">Místopředseda</h3>
                        <p class="text-gray-700">Anton Stankovič</p>
                        <p>
                            Email:
                            <a href="mailto:mistopredseda@wpacz-sk.com"
                               class="text-green-700 hover:underline">mistopredseda@wpacz-sk.com</a>
                        </p>
                        <p>
                            Telefon:
                            <a href="tel:+421905714237" class="text-green-700 hover:underline">+421 905 714 237</a>
                        </p>
                    </div>
                    <div class="bg-green-100 rounded-lg shadow-lg p-6">
                        <h3 class="text-xl font-semibold text-gray-800">Jednatel</h3>
                        <p class="text-gray-700">Jakub Jorda</p>
                        <p>
                            Email:
                            <a href="mailto:jednatel@wpacz-sk.com"
                               class="text-green-700 hover:underline">jednatel@wpacz-sk.com</a>
                        </p>
                        <p>
                            Telefon:
                            <a href="tel:+420604908011" class="text-green-700 hover:underline">+420 604 908 011</a>
                        </p>
                    </div>
                    <div class="bg-green-100 rounded-lg shadow-lg p-6">
                        <h3 class="text-xl font-semibold text-gray-800">Registrátor</h3>
                        <p class="text-gray-700">Robert Prokipčák</p>
                        <p>
                            Email:
                            <a href="mailto:registrator@wpacz-sk.com"
                               class="text-green-700 hover:underline">registrator@wpacz-sk.com</a>
                        </p>
                        <p>
                            Telefon:
                            <a href="tel:+420602445150" class="text-green-700 hover:underline">+420 602 445 150</a>
                        </p>
                    </div>
                    <div class="bg-green-100 rounded-lg shadow-lg p-6">
                        <h3 class="text-xl font-semibold text-gray-800">Pokladník</h3>
                        <p class="text-gray-700">Roman Kocourek</p>
                        <p>
                            Email:
                            <a href="mailto:pokladnik@wpacz-sk.com"
                               class="text-green-700 hover:underline">pokladnik@wpacz-sk.com</a>
                        </p>
                        <p>
                            Telefon:
                            <a href="tel:+420602743829" class="text-green-700 hover:underline">+420 602 743 829</a>
                        </p>
                    </div>
                    <div class="bg-green-100 rounded-lg shadow-lg p-6">
                        <h3 class="text-xl font-semibold text-gray-800">Správce webu</h3>
                        <p class="text-gray-700">Zdenko Figura</p>
                        <p>
                            Email:
                            <a href="mailto:admin@wpacz-sk.com"
                               class="text-green-700 hover:underline">admin@wpacz-sk.com</a>
                        </p>
                        <p>
                            Telefon:
                            <a href="tel:+421902114134" class="text-green-700 hover:underline">+421 902 114 134</a>
                        </p>
                    </div>
                </div>
                <div>
                    <h2 class="text-2xl font-bold text-green-700 mb-6 text-center">Napište nám</h2>
                    <form method="post" action="">
                        {% csrf_token %}
                        {% if form.non_field_errors %}<p class="text-red-600 text-sm mb-4">{{ form.non_field_errors.0 }}</p>{% endif %}
                        <div class="space-y-4">
                            <!-- First name -->
                            <div id="first-name-group">
                                {{ form.first_name.label_tag }} {{ form.first_name }}
                                <p id="first-name-error" class="text-red-600 text-sm mt-1"></p>
                                {% if form.first_name.errors %}<p class="text-red-600 text-sm mt-1">{{ form.first_name.errors.0 }}</p>{% endif %}
                            </div>
                            <!-- Last name -->
                            <div id="last-name-group">
                                {{ form.last_name.label_tag }} {{ form.last_name }}
                                <p id="last-name-error" class="text-red-600 text-sm mt-1"></p>
                                {% if form.last_name.errors %}<p class="text-red-600 text-sm mt-1">{{ form.last_name.errors.0 }}</p>{% endif %}
                            </div>
                            <!-- Email -->
                            <div id="email-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                <p id="email-error" class="text-red-600 text-sm mt-1"></p>
                                {% if form.email.errors %}<p class="text-red-600 text-sm mt-1">{{ form.email.errors.0 }}</p>{% endif %}
                            </div>
                            <!-- Subject -->
                            <div>
                                {{ form.subject.label_tag }} {{ form.subject }}
                                <p id="subject-error" class="text-red-600 text-sm mt-1">
                                    {% if form.subject.errors %}{{ form.subject.errors.0 }}{% endif %}
                                </p>
                            </div>
                            <!-- Message_body -->
                            <div>
                                {{ form.message_body.label_tag }}
                                {{ form.message_body }}
                                <p id="message_body-error" class="text-red-600 text-sm mt-1">
                                    {% if form.message_body.errors %}{{ form.message_body.errors.0 }}{% endif %}
                                </p>
                            </div>
                            <!-- GDPR -->
                            <div class="mt-6">
                                <label class="flex items-start space-x-2 text-sm text-gray-700">
                                    {{ form.agree_gdpr }}
                                    <span>
                                        Souhlasím se
                                        <a href="{% url 'gdpr' %}"
                                           target="_blank"
                                           class="underline text-green-700 hover:text-green-900">
                                            zpracováním osobních údajů
                                        </a>
                                        dle zásad WPA CZ-SK.
                                    </span>
                                </label>
                                <p id="gdpr-error" class="text-red-600 text-sm mt-1">
                                    {% if form.agree_gdpr.errors %}{{ form.agree_gdpr.errors.0 }}{% endif %}
                                </p>
                            </div>
                            <div style="display:none;">{{ form.honeypot }}</div>
                            <!-- Cloudflare Turnstile -->
                            <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

                            <div class="mt-6 flex justify-center">
                                <div class="cf-turnstile"
                                     data-sitekey="{{ TURNSTILE_SITE_KEY }}"
                                     data-callback="turnstileCallback"></div>
                            </div>

                            <input type="hidden" name="turnstile">
                            {% if form.turnstile.errors %}
                              <p class="text-red-600 text-sm mt-2 text-center">
                                {{ form.turnstile.errors.0 }}
                              </p>
                            {% endif %}
                            <div class="mt-6 text-center">
                                <button type="submit"
                                        class="bg-green-600 text-white font-semibold px-6 py-2 rounded-full shadow transition">
                                    Odeslat
                                </button>
                            </div>
                            <div class="mt-6 flex justify-center">
                                <img src="{% static 'images/logo/wpa-logo-black.webp' %}"
                                     alt="World Pheasant Association CZ-SK logo"
                                     loading="lazy"
                                     class="max-w-xs">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/turnstile.min.js' %}"></script>
    {% if debug %}
    <script src="{% static 'js/form-validation-contact.js' %}"></script>
    {% else %}
    <script src="{% static 'js/form-validation-contact.min.js' %}"></script>
    {% endif %}
{% endblock %}
