{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "partials/page_header.html" with title="Seznam členů" subtitle="Přehled registrovaných členů WPA CZ-SK" image="/static/images/trag-tem-1920-640.webp" %}
<section class="py-16 bg-white">
  <div class="max-w-6xl mx-auto px-4">
    <div
      class="bg-white shadow ring-1 ring-gray-200 rounded-lg"
    >
      <table class="w-full table-auto divide-x divide-y divide-gray-200 text-xs text-gray-900">
        <thead class="bg-green-600 sticky top-0 z-10 text-white">
          <tr>
            <th class="px-3 py-2 text-left font-semibold">#</th>
            <th class="px-3 py-2 text-left font-semibold">ICCH</th>
            <th class="px-3 py-2 text-left font-semibold">Jméno a příjmení</th>
            <th class="px-3 py-2 text-left font-semibold">E-mail</th>
            <th class="px-3 py-2 text-left font-semibold">Mobil</th>
            <th class="px-3 py-2 text-left font-semibold">Funkce</th>
            <th class="px-3 py-2 text-left font-semibold">
              Zapojen v projektu
            </th>
            <th class="px-3 py-2 text-left font-semibold">Poznámka</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 bg-white [&>tr:nth-child(even)]:bg-gray-100">
          <tr>
            <td class="px-2 py-2 w-10 text-right">1.</td>
            <td class="px-2 py-2 w-16 font-semibold">001</td>
            <td class="px-3 py-2">Bc. Adam Bura</td>
            <td class="px-3 py-2 whitespace-nowrap">bura.adam@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 734 463 872</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">2.</td>
            <td class="px-2 py-2 w-16 font-semibold">002</td>
            <td class="px-3 py-2">Bohumil Brůža</td>
            <td class="px-3 py-2 whitespace-nowrap">evabruzova@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 777 746 702</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">3.</td>
            <td class="px-2 py-2 w-16 font-semibold">004</td>
            <td class="px-3 py-2">Bedřich Gavenda</td>
            <td class="px-3 py-2 whitespace-nowrap">gavi1@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 777 264 613</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">4.</td>
            <td class="px-2 py-2 w-16 font-semibold">005</td>
            <td class="px-3 py-2">Jiří Glatt</td>
            <td class="px-3 py-2 whitespace-nowrap">j.glatt@volny.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 331 739</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">5.</td>
            <td class="px-2 py-2 w-16 font-semibold">006</td>
            <td class="px-3 py-2">Jakub Janosch</td>
            <td class="px-3 py-2 whitespace-nowrap">j.j.janoschbf@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 419 057</td>
            <td class="px-3 py-2">předseda</td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">6.</td>
            <td class="px-2 py-2 w-16 font-semibold">008</td>
            <td class="px-3 py-2">Ing. Jiří Mrnka</td>
            <td class="px-3 py-2 whitespace-nowrap">j.mrnka@mybox.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 721 539 810</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">7.</td>
            <td class="px-2 py-2 w-16 font-semibold">010</td>
            <td class="px-3 py-2">Vojtěch Pekárek</td>
            <td class="px-3 py-2 whitespace-nowrap">pekarek69@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 721 541 923</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">
              bažant vietnamský; bažant zlatý série 5000
            </td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">8.</td>
            <td class="px-2 py-2 w-16 font-semibold">011</td>
            <td class="px-3 py-2">Vlastimil Staněk</td>
            <td class="px-3 py-2 whitespace-nowrap"></td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 606 620 841</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">9.</td>
            <td class="px-2 py-2 w-16 font-semibold">012</td>
            <td class="px-3 py-2">Miloslav Stehlík</td>
            <td class="px-3 py-2 whitespace-nowrap">infotragopan@email.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 723 442 917</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant vietnamský</td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">10.</td>
            <td class="px-2 py-2 w-16 font-semibold">015</td>
            <td class="px-3 py-2">Martin Veles</td>
            <td class="px-3 py-2 whitespace-nowrap">martin.veles@atlas.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 728 021 388</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">11.</td>
            <td class="px-2 py-2 w-16 font-semibold">019</td>
            <td class="px-3 py-2">MVDr. Petr Vrána</td>
            <td class="px-3 py-2 whitespace-nowrap">orebice@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 606 419 840</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">12.</td>
            <td class="px-2 py-2 w-16 font-semibold">020</td>
            <td class="px-3 py-2">ZOO Ostrava</td>
            <td class="px-3 py-2 whitespace-nowrap">novak@zoo-ostrava.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 732 719 332</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">13.</td>
            <td class="px-2 py-2 w-16 font-semibold">021</td>
            <td class="px-3 py-2">ZOO Praha</td>
            <td class="px-3 py-2 whitespace-nowrap">antonin.vaidl@zoopraha.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 603 423 934</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant vietnamský</td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">14.</td>
            <td class="px-2 py-2 w-16 font-semibold">022</td>
            <td class="px-3 py-2">Ladislav Žoha</td>
            <td class="px-3 py-2 whitespace-nowrap">ladislav.zoha@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 732 483 540</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">15.</td>
            <td class="px-2 py-2 w-16 font-semibold">023</td>
            <td class="px-3 py-2">Ing. Ladislav Tkáč</td>
            <td class="px-3 py-2 whitespace-nowrap">Tkac.L@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 605 101 918</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant vietnamský</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">16.</td>
            <td class="px-2 py-2 w-16 font-semibold">025</td>
            <td class="px-3 py-2">Ing. Petr Bach</td>
            <td class="px-3 py-2 whitespace-nowrap">petrbach1@email.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 728 469 114</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">
              koordinátor projektu podpora koroptve polní
            </td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">17.</td>
            <td class="px-2 py-2 w-16 font-semibold">026</td>
            <td class="px-3 py-2">ZOO Dvůr Králové</td>
            <td class="px-3 py-2 whitespace-nowrap">ptaci@zoodk.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 775 854 221</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">18.</td>
            <td class="px-2 py-2 w-16 font-semibold">028</td>
            <td class="px-3 py-2">ZOO Liberec</td>
            <td class="px-3 py-2 whitespace-nowrap">hanel@zooliberec.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 724 318 019</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">
              bažant vietnamský; bažant zlatý série 5000
            </td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">19.</td>
            <td class="px-2 py-2 w-16 font-semibold">029</td>
            <td class="px-3 py-2">Zdenko Figura</td>
            <td class="px-3 py-2 whitespace-nowrap">figura.zdenko@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 902 114 134</td>
            <td class="px-3 py-2">správce webu</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">20.</td>
            <td class="px-2 py-2 w-16 font-semibold">030</td>
            <td class="px-3 py-2">Ing. René Janosch</td>
            <td class="px-3 py-2 whitespace-nowrap">rene.janosch@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 604 290 512</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">
              bažant vietnamský; bažant zlatý série 5000
            </td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">21.</td>
            <td class="px-2 py-2 w-16 font-semibold">032</td>
            <td class="px-3 py-2">ZOO Brno</td>
            <td class="px-3 py-2 whitespace-nowrap">suvorov@zoobrno.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 724 963 674</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">22.</td>
            <td class="px-2 py-2 w-16 font-semibold">037</td>
            <td class="px-3 py-2">Jakub Jorda</td>
            <td class="px-3 py-2 whitespace-nowrap">jordajakub@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 733 419 472</td>
            <td class="px-3 py-2">jednatel</td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">23.</td>
            <td class="px-2 py-2 w-16 font-semibold">038</td>
            <td class="px-3 py-2">ZOO Košice</td>
            <td class="px-3 py-2 whitespace-nowrap">pastorek@zookosice.sk</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 948 170 001</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">24.</td>
            <td class="px-2 py-2 w-16 font-semibold">039</td>
            <td class="px-3 py-2">Matúš Kočik</td>
            <td class="px-3 py-2 whitespace-nowrap">matuskocik@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 911 877 177</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">25.</td>
            <td class="px-2 py-2 w-16 font-semibold">040</td>
            <td class="px-3 py-2">Robert Bojko</td>
            <td class="px-3 py-2 whitespace-nowrap">RobertBojko@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 774 846 888</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">26.</td>
            <td class="px-2 py-2 w-16 font-semibold">041</td>
            <td class="px-3 py-2">Robert Prokipčák</td>
            <td class="px-3 py-2 whitespace-nowrap">r.prokipcak@swietelsky.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 445 150</td>
            <td class="px-3 py-2">registrátor</td>
            <td class="px-3 py-2">
              koordinátor projektu bažant zlatý série 5000
            </td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">27.</td>
            <td class="px-2 py-2 w-16 font-semibold">042</td>
            <td class="px-3 py-2">Ing. Pavel Matoušek</td>
            <td class="px-3 py-2 whitespace-nowrap">matousek55@centrum.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 773 528 831</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">28.</td>
            <td class="px-2 py-2 w-16 font-semibold">044</td>
            <td class="px-3 py-2">Ing. Miroslav Fess</td>
            <td class="px-3 py-2 whitespace-nowrap">m.fess@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 705 480</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">bažant zlatý série 5000</td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">29.</td>
            <td class="px-2 py-2 w-16 font-semibold">047</td>
            <td class="px-3 py-2">Ondřej Širůček</td>
            <td class="px-3 py-2 whitespace-nowrap">sirondra@email.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 774 595 003</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">30.</td>
            <td class="px-2 py-2 w-16 font-semibold">050</td>
            <td class="px-3 py-2">David Vedral</td>
            <td class="px-3 py-2 whitespace-nowrap">d.vedral@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 606 465 329</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">31.</td>
            <td class="px-2 py-2 w-16 font-semibold">053</td>
            <td class="px-3 py-2">Dušan Hladej</td>
            <td class="px-3 py-2 whitespace-nowrap">012dusan@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 949 130 060</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">32.</td>
            <td class="px-2 py-2 w-16 font-semibold">054</td>
            <td class="px-3 py-2">Anton Stankovič</td>
            <td class="px-3 py-2 whitespace-nowrap">stankovictony@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 905 714 237</td>
            <td class="px-3 py-2">místopředseda</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">33.</td>
            <td class="px-2 py-2 w-16 font-semibold">055</td>
            <td class="px-3 py-2">Patrik Matúš</td>
            <td class="px-3 py-2 whitespace-nowrap">patrik.matus.zazriva@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 907 647 097</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">34.</td>
            <td class="px-2 py-2 w-16 font-semibold">056</td>
            <td class="px-3 py-2">Jan Šnauer</td>
            <td class="px-3 py-2 whitespace-nowrap">j.snauer@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 739 989 824</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">35.</td>
            <td class="px-2 py-2 w-16 font-semibold">058</td>
            <td class="px-3 py-2">Karel Vodný</td>
            <td class="px-3 py-2 whitespace-nowrap">vodny.karel@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 775 245 010</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">36.</td>
            <td class="px-2 py-2 w-16 font-semibold">059</td>
            <td class="px-3 py-2">Roman Kocourek</td>
            <td class="px-3 py-2 whitespace-nowrap">romankocourek@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 743 829</td>
            <td class="px-3 py-2">pokladník</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">37.</td>
            <td class="px-2 py-2 w-16 font-semibold">061</td>
            <td class="px-3 py-2">Oldřich Šálek</td>
            <td class="px-3 py-2 whitespace-nowrap">autodopravasalek@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 280 756</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">38.</td>
            <td class="px-2 py-2 w-16 font-semibold">062</td>
            <td class="px-3 py-2">Marek Repka</td>
            <td class="px-3 py-2 whitespace-nowrap">m.repkovi@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 737 746 644</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">39.</td>
            <td class="px-2 py-2 w-16 font-semibold">063</td>
            <td class="px-3 py-2">Mojmír Bryška</td>
            <td class="px-3 py-2 whitespace-nowrap">mojmir.bryska@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+358 466 242 854</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">40.</td>
            <td class="px-2 py-2 w-16 font-semibold">064</td>
            <td class="px-3 py-2">Rio Babiuch</td>
            <td class="px-3 py-2 whitespace-nowrap">riobab@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 775 442 005</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">41.</td>
            <td class="px-2 py-2 w-16 font-semibold">065</td>
            <td class="px-3 py-2">Matiční gymnázium Ostrava</td>
            <td class="px-3 py-2 whitespace-nowrap">reditel@mgo.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 776 252 799</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">42.</td>
            <td class="px-2 py-2 w-16 font-semibold">066</td>
            <td class="px-3 py-2">Jakub Třeščák</td>
            <td class="px-3 py-2 whitespace-nowrap">tiomanx5@azet.sk</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 908 343 080</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">43.</td>
            <td class="px-2 py-2 w-16 font-semibold">067</td>
            <td class="px-3 py-2">Ján Wiener</td>
            <td class="px-3 py-2 whitespace-nowrap">wienerulic@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+421 907 950 131</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">44.</td>
            <td class="px-2 py-2 w-16 font-semibold">068</td>
            <td class="px-3 py-2">Leona Grygarová</td>
            <td class="px-3 py-2 whitespace-nowrap">leona.grygarova@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 607 442 292</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">45.</td>
            <td class="px-2 py-2 w-16 font-semibold">069</td>
            <td class="px-3 py-2">Ing. Miroslav Chomjak</td>
            <td class="px-3 py-2 whitespace-nowrap">miroslav.chomjak@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 774 445 535</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">46.</td>
            <td class="px-2 py-2 w-16 font-semibold">070</td>
            <td class="px-3 py-2">Veronika Zahradníčková</td>
            <td class="px-3 py-2 whitespace-nowrap">veronika.zahradnickova@zoopraha.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 604 736 907</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">
              koordinátorka projektu bažanta vietnamského
            </td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">47.</td>
            <td class="px-2 py-2 w-16 font-semibold">071</td>
            <td class="px-3 py-2">Petr Vašek</td>
            <td class="px-3 py-2 whitespace-nowrap">vaspetr@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 969 008</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">48.</td>
            <td class="px-2 py-2 w-16 font-semibold">072</td>
            <td class="px-3 py-2">František Baier</td>
            <td class="px-3 py-2 whitespace-nowrap">franta.ba@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 602 512 373</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">49.</td>
            <td class="px-2 py-2 w-16 font-semibold">073</td>
            <td class="px-3 py-2">ZOO Na Hrádečku</td>
            <td class="px-3 py-2 whitespace-nowrap">zoonahradecku@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 732 353 340</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">50.</td>
            <td class="px-2 py-2 w-16 font-semibold">074</td>
            <td class="px-3 py-2">Ing. Josef Vaňát</td>
            <td class="px-3 py-2 whitespace-nowrap">josef.vanat@gmail.com</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 606 604 200</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">51.</td>
            <td class="px-2 py-2 w-16 font-semibold">075</td>
            <td class="px-3 py-2">ZOO Olomouc</td>
            <td class="px-3 py-2 whitespace-nowrap">kirner@zoo-olomouc.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 774 450 411</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">52.</td>
            <td class="px-2 py-2 w-16 font-semibold">076</td>
            <td class="px-3 py-2">ZOO Jihlava</td>
            <td class="px-3 py-2 whitespace-nowrap">viduna@zoojihlava.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 737 266 421</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">53.</td>
            <td class="px-2 py-2 w-16 font-semibold">077</td>
            <td class="px-3 py-2">ZOO Chleby</td>
            <td class="px-3 py-2 whitespace-nowrap">director@zoochleby.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 723 237 571</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">čestný člen</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">54.</td>
            <td class="px-2 py-2 w-16 font-semibold">078</td>
            <td class="px-3 py-2">Pavel Havránek</td>
            <td class="px-3 py-2 whitespace-nowrap">pavelhavranek987@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 704 717 858</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
          <tr>
            <td class="px-2 py-2 w-10 text-right">55.</td>
            <td class="px-2 py-2 w-16 font-semibold">079</td>
            <td class="px-3 py-2">Bc. Yveta Dočkalová</td>
            <td class="px-3 py-2 whitespace-nowrap">ally281@seznam.cz</td>
            <td class="px-3 py-2 whitespace-nowrap font-mono">+420 603 728 798</td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2"></td>
            <td class="px-3 py-2">chovatel</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
