{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "partials/page_header.html" with title="Projekty" subtitle="Naše hlavní iniciativy a aktivity v rámci WPA CZ-SK" image="/static/images/pheasant-desktop-1920-640.webp" %}
<section class="py-16 bg-white">
  <div class="max-w-6xl mx-auto px-4">


    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

      <!-- Projekt 1 -->
      <div class="rounded-2xl border border-gray-200 shadow-sm bg-white overflow-hidden">
        {# <img src="{% static 'images/project2.jpg' %}" alt="Projekt 2" class="h-48 w-full object-cover"> #}
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900">Bažant vietnamský Lophura hatinhensis "hatinhensis" a "edwardsi"</h3>
          <p class="mt-2 text-gray-600">Projekt bažanta vietnamského je jedním z našich pilotních projektů. Zabývá se studiem, chovem a záchranou bažanta vietnamského (Lophura hatinhensis „edwardsi“) a bažanta vietnamského (Lophura hatinhensis „hatinhensis“).</p>
          <a href="{% url 'projekt-bazant-vietnamsky' %}" class="mt-4 inline-block text-green-700 font-medium hover:underline">
            Detail projektu →
          </a>
        </div>
      </div>

      <!-- Projekt 2 -->
      <div class="rounded-2xl border border-gray-200 shadow-sm bg-white overflow-hidden">
        {# <img src="{% static 'images/project1.jpg' %}" alt="Projekt 1" class="h-48 w-full object-cover"> #}
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900">Bažant zlatý (Chrysolophus pictus) série 5000</h3>
          <p class="mt-2 text-gray-600">Mezinárodní projekt bažanta zlatého série 5000 se zabývá chovem tohoto druhu ex situ v čistokrevné formě.</p>
          <a href="{% url 'projekt-bazant-zlaty' %}" class="mt-4 inline-block text-green-700 font-medium hover:underline">
            Detail projektu →
          </a>
        </div>
      </div>

      <!-- Projekt 3 -->
      <div class="rounded-2xl border border-gray-200 shadow-sm bg-white overflow-hidden">
        {# <img src="{% static 'images/project3.jpg' %}" alt="Projekt 3" class="h-48 w-full object-cover"> #}
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900">Obnova zemědělské krajiny a podpora zbytkových populací koroptve polní</h3>
          <p class="mt-2 text-gray-600">Tento projekt je v současnosti jediným projektem WPA CZ-SK, který se zabývá naším původním druhem hrabavého ptáka. Zároveň zahrnuje i péči o krajinu a podporu vhodných biotopů.</p>
          <a href="{% url 'projekt-koroptve-polni' %}" class="mt-4 inline-block text-green-700 font-medium hover:underline">
            Detail projektu →
          </a>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}