

{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "partials/page_header.html" with title="Velikosti kroužků" subtitle="Přehled doporučených velikostí kroužků pro jednotlivé druhy" image="/static/images/pol-bic-1920-640.webp" %}

<section class="py-16 bg-white">
  <div class="max-w-6xl mx-auto px-4 text-gray-700 leading-relaxed">


    <table class="w-full border border-gray-300 text-sm">
      <thead class="bg-gray-100">
        <tr>
          <th class="text-left p-2 border">Druh</th>
          <th class="text-left p-2 border">Velikost (mm)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd:bg-gray-50"><td class="p-2 border">AFROPAVO</td><td class="p-2 border">16</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">ARGUSIANUS</td><td class="p-2 border">16</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">CATREUS</td><td class="p-2 border">14</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">CROSSOPTILON</td><td class="p-2 border">14</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">CHRYSOLOPHUS pictus</td><td class="p-2 border">10</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">CHRYSOLOPHUS amherstiae</td><td class="p-2 border">12</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">GALLUS</td><td class="p-2 border">12</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">ITHAGINIS</td><td class="p-2 border">10</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">LOPHOPHORUS</td><td class="p-2 border">15</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">Lophura ignita</td><td class="p-2 border">14</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">Lophura swinhoii</td><td class="p-2 border">14</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">Lophura nycthemera</td><td class="p-2 border">14</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">LOPHURA OSTATNÍ</td><td class="p-2 border">12</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">PAVO</td><td class="p-2 border">20</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">PHASIANUS</td><td class="p-2 border">12</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">POLYPLECTRON</td><td class="p-2 border">10</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">PUCRASIA</td><td class="p-2 border">12</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">RHEINARDIA</td><td class="p-2 border">16</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">SYRMATICUS</td><td class="p-2 border">12</td></tr>
        <tr class="odd:bg-gray-50"><td class="p-2 border">TRAGOPAN</td><td class="p-2 border">14</td></tr>
      </tbody>
    </table>

  </div>
</section>

{% endblock %}