

{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="py-16 bg-white">
  <div class="max-w-6xl mx-auto px-4 text-gray-700 leading-relaxed">

    <h1 class="text-3xl font-bold text-green-700 mb-6">
      Voliéry
    </h1>

    <p class="mb-4">
      Úspěšný chov hrabavých vyžaduje vytvořit takové podmínky v chovném zařízení, které budou v co největší míře odpovídat přirozeným podmínkám v domovině toho konkrétního druhu. Připomenu několik zásad, které je třeba dodržet. Velikost voliéry by měla korespondovat s velikostí a počtem jedinců, které v ní budeme chovat. Platí samozřejmě, že čím větší prostor, tím lépe pro jeho obyvatele. Jako opravdu minimum pro malé druhy bažantů by mělo být 6 m² a pro větší druhy pak nejméně 10 m².
    </p>

    <p class="mb-4">
      Každá voliéra by měla mít závětří, (tvořené do L dvěma nebo do U třemi stěnami) které by mělo být zastřešené. Jelikož naprosté většině druhů bažantů velmi vadí vlhko, musíme tedy voliérů celou zastřešit, nebo řešit podlahu voliéry tak, aby zajišťovala dobrý odvod vody. Použitelným materiálem pro tento účel jsou štěpky, mulčovací kůra, lesní hrabanka, písek, popřípadě kamenné valouny. Část podlahy voliéry se také dá pokrýt roštem z pletiva (svařovaná síť 16×16 mm), která umístěna 5–10 cm nad zemí uchrání přímého kontaktu se zemí.
    </p>

    <p class="mb-4">
      Při jakékoliv kombinaci těchto druhů podlah je nutné, aby ve voliéře bylo zachováno popeliště, kde mohou hrabaví provádět svou tělesnou hygienu. Každá voliéra je nejen chovným zařízením, ale také estetickým výtvorem svého chovatele a tak různé kameny a kmeny mohou dotvořit prostředí, ve kterém by měly dominovat různé stromy, keře a rostliny. Ty tvoří i přirozený kryt pro slípku v době, kdy se potřebuje ukrýt v době toku nebo před agresí kohouta.
    </p>

    <p class="mb-4">
      Další nedílnou součástí voliéry jsou hřadovací bidla, měla by být většího průměru tak 8–10 cm, aby se v zimních měsících u choulostivějších druhů předešlo nebezpečí omrznutí prstů. Velmi dobrým materiálem jsou větve a kmeny akátu, který je tvrdý a velmi odolný povětrnostním podmínkám a je hrubý tak, že se po něm ptáci snáze pohybují.
    </p>

    <p class="mb-4">
      Co se týká pletiva, pak velmi dobrou volbou je svařovaná síť o velikosti 16×16 mm nebo 19×19 mm, je odolná proti predátorům a velmi dobře se s ní pracuje. Pletivo je dobré opatřit tmavým nátěrem, díky kterému získáte lepší průhled skrz pletivo. Jako strop je dobrou variantou síť, ta eliminuje riziko zranění chovanců při vyrušení a náhlém vzletu.
    </p>

    <p>
      Jednou z velmi podstatných součástí chovných zařízení jsou opatření proti dravcům. Proti pernatým dravcům je dobré umístit na strop voliéry nad hřadovací bidlo tyč, která zamezí zdárnému útoku dravce na hřadující ptáky. Výborným řešením ochrany proti ostatním predátorům je osazení chovného zařízení elektrickým ohradníkem.
    </p>

  </div>
</section>

{% endblock %}